

.progressline-point
{
    z-index:1000;
    position:absolute;
    left:0px;
    top:0px;
    pointer-events: none;
    
    transform:rotate(0);
    width: 14px!important;  
    height: 14px!important;
    background-color: #fff!important; 
    border: 1px red solid;
    border-radius: 8px;
    margin-top:2px;
}

.progressline-point:after
{        
    content: " ";
    display: block;
    position: absolute;    
    width:8px;
    height:8px;
    left:3px;
    top:3px;
    background:transparent;
    background-color: red!important; 
    transform:rotate(45deg);
}